doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    script(
      src="https://unpkg.com/htmx.org@1.9.10",
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC",
      crossorigin="anonymous"
    )
    title Admin panel
  body 
    include partials/header/header.pug

    main.wrapper
      h1.h1 Admin page
      ul(class="flex gap-2") 
        li 
          a.link(href="/admin" hx-get="/admin/" hx-select="#content" hx-push-url="/admin/" hx-target="#content" hx-swap="innerHTML") Main
        li 
          a.link(href="/admin/users" hx-get="/admin/users/" hx-select="#content" hx-push-url="/admin/users/" hx-target="#content" hx-swap="innerHTML") Users
        li 
          a.link(href="/admin/orders" hx-get="/admin/orders/" hx-select="#content" hx-push-url="/admin/orders/" hx-target="#content" hx-swap="innerHTML") Orders
        li 
          a.link(href="/admin/levels" hx-get="/admin/levels/" hx-select="#content" hx-push-url="/admin/levels/" hx-target="#content" hx-swap="innerHTML") Levels 


      section#content
        case state 
          when 0
            h2.h2.mt-4 Main section 
          when 1
            include partials/admin/users.pug 
          when 2 
            include partials/admin/orders.pug        
          when 3 
            include partials/admin/levels.pug


  dialog(id='newLevelDialog' class='dialog relative w-3/5')
    a(hx-on:click="closeModal('newLevelDialog')" class=" absolute right-6 w-4 leading-4 text-center p-1") x
    form(hx-post='/api/level'
      hx-swap='none'
      hx-indicator='#newLevelMessage'
      hx-disabled-elt='#newLevelButton'
      id='newLevelForm'
      class='flex flex-col gap-4 items-center')
      h3(class='text-center font-bold text-xl mt-4') Add level 
      div(class="w-full") 
        label(for='newLevelType' class='block self-start') Type
        input(class='input'
          id='newLevelType'
          name='type'
          type='text'
          placeholder="gold"
          required)
      div(class="w-full")
        label(for='newLevelDescription' class='block self-start') Description 
        textarea(class='input w-full'
          id='newLevelDescription'
          name='description'
          type='text'
          placeholder="something about this level"
          required)
      div(class="w-full")
        label(for='newLevelIncluded' class='block self-start') Included 
        textarea(class='input w-full'
          id='newLevelIncluded'
          name='included'
          type='text'
          placeholder="thing; thing; thing"
          required)
      div(class="w-full")
        label(for='newLevelPrice' class='block self-start') Price 
        input(class='input'
          id='newLevelPrice'
          name='price'
          type='number'
          placeholder="300"
          required)


      button(id="newLevelButton" class='button w-2/3 my-0' type='submit') Submit

      p(id='newLevelMessage' class='htmx-indicator') Loading
  script(src="/js/main.js") 
  script(src="/js/levels.js") 
  include partials/dialogs.pug