doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Order
    link(rel="stylesheet" href="/css/style.css")
    script(
      src="https://unpkg.com/htmx.org@1.9.10",
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC",
      crossorigin="anonymous"
    )
    script(src="https://unpkg.com/imask")
  body
    section(class="bg-[url('/images/new_hero.webp')] bg-cover bg-bottom h-[100vh] wrapper pt-40 py-8")
      div(class="mx-auto size-fit bg-bgColor/30 p-8 backdrop-blur-lg")
        div.levelinfo  
          h1.h1 You buing level: #{level.data.type} 
        form(hx-post="/api/buy" hx-vals=`{"selectedLevelId":"${level.id}"}` hx-swap="none")
          div 
            label(class="block" for="card") Your card number
            input.input#card(class="w-[52%]" type="text" name="card" required) 
          div 
            label(class="block" for="date") Your card date
            input.input#date(class="w-[15%]" type="text" name="date" required) 
          div 
            label(class="block" for="security") Your card security code
            input.input#security(class="w-[10%]" type="text" name="security" required) 
          div(class="flex gap-4 mt-4 items-center")
            button.button(type="submit") Buy
            a.button(href="/levels" class="bg-altBgColor text-altFontColor") Back
    script(src="/js/order.js")