h2.h2.mt-4 Orders

form(
  hx-trigger="change"
  hx-get="/admin/orders/"
  hx-select="#orders"
  hx-target="#orders"
  hx-swap="outerHTML transition:true"
  hx-indicator="#loading")
  label.block(for="ordersSelect") Select level 
  select#ordersSelect(class="select w-auto bg-blue-100" name="levelId")
    option(value="") All levels
      each level in levels
        option(value=level.id) #{level.data.type} 
  p#loading(class="htmx-indicator cursor-default") Loading

ul#orders
  - if (users.length == 0)
    li(class="p-2 bg-blue-100 rounded-xl my-4") 
      p No orders for that level
  - else
    each user in users 
      li(class="p-2 bg-blue-100 rounded-xl my-4") 
        p(class="font-bold") #{user.name}
        p 
          strong Email 
          =user.email
        if user.level
          p 
            strong Level type:  
            =user.level